<div layout="vertical" layout-row>

  <md-toolbar class="md-hue-2">
    <h1 align="center" flex md-truncate>Puzzles Quiz</h1>
  </md-toolbar>

</div>
<div ng-controller="QuizController" layout-row ng-cloak style="height: auto; overflow-y: none;">
  <md-content class="md-padding">
    <md-tabs class="md-accent" md-selected="quiz.data.selectedIndex" md-align-tabs="{{quiz.data.bottom ? 'bottom' : 'top'}}" md-dynamic-height="true">
      <md-tab>
        <md-tab-label>Check Writer</md-tab-label>
        <md-tab-body>
          <check-writer></check-writer>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
