<md-content layout-padding>
  <div>
    <form name="check-writer" class="check-writer">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Input Number</label>
          <input class="number" ng-model="number" id="inputNumber" maxlength="15">
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-button class="md-raised md-primary submit" ng-click="intcheckWriter.submit()" id="clickSubmit">Submit</md-button>
      </div>
      <div>
        <h2>OUTPUT</h2>
      </div>
      <br/>
      <div ng-show="intcheckWriter.showOutput">
        <span class="output">{{intcheckWriter.myVariable}}</span>
      </div>
      <div>
        <span class="error">{{intcheckWriter.errorMessage}}</span>
      </div>
    </form>
  </div>
</md-content>
